/* Общие стили для кнопок */
.quantity .plus,
.quantity .minus {
    background-color: #f9f9f9; /* Цвет фона */
    color: #595959; /* Цвет текста */
    border: solid 1px rgb(234, 234, 234); /* Убираем стандартную границу */
    padding: 8px 12px; /* Внутренний отступ */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    border-radius: 0px; /* Скругление углов */
}

/* Стили для кнопки при наведении */
.quantity .plus:hover,
.quantity .minus:hover {
    background-color: #ededed; /* Цвет фона при наведении */
}

/* Дополнительные стили для визуального акцента */
.quantity .plus:active,
.quantity .minus:active {
    background-color: #d6d6d6; /* Цвет фона при нажатии */
    transform: scale(0.95); /* Эффект "нажатия" */
}

/* Если нужно увеличить ширину кнопок для лучшего попадания */
.quantity .plus,
.quantity .minus {
    width: 35px; /* Задаем ширину */
    height: 35px; /* Задаем высоту */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.woocommerce .quantity input.qty {
    -moz-appearance: textfield !important;
    font-size: 16px !important;
    color: #595959 !important;
    background-color: rgba(0, 0, 0, 0.0) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 2.6em !important;
    border: 0px;
}

.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity, .woocommerce-page .quantity {
    width: auto !important;
}

.et_pb_wc_cart_products .quantity .qty {
    text-align: center !important;
}